.background-image-holder, .foreground-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 0;
  background-position:50% 50%!important
}

.background-image-holder.parallax-background {
  height: 120%;
  top: -10%
}

.hover-background .background-image-holder, .hover-background .foreground-image-holder {
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out
}

.hover-background .background-image-holder {
  height: 110%;
  width: 110%
}

.side-image {
  padding: 0;
  position: relative
}

.side-image .image-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  padding: 0;
  top: 0
}

.side-image .image-container.pull-right {
  right: 0
}

.side-image .content {
  padding-top: 80px;
  padding-bottom: 80px
}

.side-image h1 {
  margin-bottom: 40px
}

.side-image p.lead {
  margin-bottom: 64px
}

.side-image.text-heavy h1 {
  margin-bottom: 32px
}

.side-image.text-heavy p.lead {
  margin-bottom: 40px
}

.side-image.text-heavy .feature {
  margin-top: 64px
}

.side-image.text-heavy .feature h5 {
  margin-bottom: 40px
}

.feature-icon-left {
  overflow: hidden;
  margin-bottom: 40px;
  float: left
}

.feature-icon-left .icon-holder {
  margin-top: 20px;
  margin-right: 10px;
  width: 45px;
  float: left
}

.feature-icon-left i {
  font-size: 3em
}

.feature-icon-left .feature-text {
  width: 217px;
  float: left;
  padding-top: 8px
}

.icons-large {
  list-style: none;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  margin-bottom: 32px
}

.icons-large li {
  float: left;
  margin-right: 48px;
  font-size: 48px
}
